
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", serif;
}

.header_back {
  background: #111131;
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: #ABABFA;
  font-size: 13px;
  font-weight: 400;
}

.header_back a {
  cursor: pointer;
}

.container {
  width: 1350px;
  margin: 0 auto;
}

.navbar_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 84px;
  margin: 0 auto;
}

.navbar_block .nav_menu {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 25px;
  cursor: pointer;
  color: #413E52;
}

.navbar_actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar_actions button {
  width: 130px;
  height: 44px;
  color: white;
  background: #5C5CFF;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  border: 0;
  transition: 0.5s;
}

.navbar_actions button:hover {
  box-shadow: 0 0 10px blue;
}

.main {
  padding-top: 100px;
  box-shadow: 10px 10px 10px #cacaca inset;
  position: relative;
}

.banner_blocks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid gray;
  padding: 0;
  position: relative;
  z-index: 2;
  overflow: hidden; 
  background-color: white;
}

.banner_blocks .line {
  width: 4px;
  height: 430px;
  background-color: #5C5CFF;
}

.drop_right {
  position: absolute;
  top: 50px;
  right: 165px; 
  z-index: 1;
  width: 500px; 
  height: auto;
}

.drop_down_rignt {
  position: absolute;
  left: 215px;
  top: 40%;
  z-index: 0;
  width: 500px;
  height: auto;
}

.banner_info {
  width: 460px;
  height: 430px;
}

.banner_info p{
  font-size: 14px;
  color: #5C5CFF;
  font-weight: 400;
}

.banner_info h2 {
  font-size: 42px;
  font-weight: 400;
  color: #413E52;
  margin: 30px 0;
}

.banner_info article {
  font-size: 14px;
  font-weight: 400;
  color: #413E52;
}

.banner_info .date {
  color: #868297;
  font-size: 13px;
  font-weight: 400;
  margin-top: 10px;
}

.articles_block {
  margin-top: 200px;
}

.upper_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0;
  border-bottom: 2px solid #868297;
  height: 70px;
}

.upper_block_left p {
  font-size: 14px;
  font-weight: 400;
  color: #413E52;
  text-transform: uppercase;
}

.upper_block_right {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.upper_block_right span {
  font-size: 14px;
  font-weight: 400;
  color: #413E52;
}

.card_blocks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.card_block {
  width: 370px;
  height: 410px;
  border: 1px solid #868297;
  margin-top: 35px;
}

.card_block img {
  width: 370px;
  height: 205px;
}

.card_block_info {
  padding: 32px 24px;
}

.card_block_info h3 {
  color: #5C5CFF;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.card_block_info p {
  font-size: 13px;
  font-weight: 400;
  color: #868297;
  margin-top: 30px;
  margin-bottom: 10px;
}

.card_block_info article {
  font-size: 19px;
  font-weight: 400;
  color: #413E52;
  width: 240px;
}

.ebook_blocks {
  margin-top: 130px;
  background-color: #111131;
  height: 254px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}

.ebook_blocks_left {
  margin: 48px;
  width: 530px;
}

.ebook_blocks_left h2 {
  color: #5C5CFF;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}

.ebook_blocks_left p {
  margin-top: 27px;
  color: white;
  font-size: 31px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 50px;
}

.ebook_blocks_right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
  padding: 48px;
}

.ebook_blocks_right input {
  height: 60px;
  text-align: center;
  background-color: #1B1B4D;
  color: #5C5CFF;
  font-size: 20px;
  font-weight: 400;
  border-radius: 10px;
  border: 1px solid #8989F8;
  outline: 0;
}

.ebook_blocks_right button {
  height: 60px;
  border-radius: 10px;
  background-color: #5C5CFF;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  border: 0;
}

.studies_blocks {
  margin-top: 130px;
  z-index: 2;
  overflow: hidden; 
  background-color: white;
  position: relative;
}

.upper_studies_blocks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0;
  border-bottom: 2px solid #868297;
  height: 70px;
}

.upper_studies_blocks h2 {
  font-size: 14px;
  font-weight: 400;
  color: #413E52;
  text-transform: uppercase;
}

.upper_studies_blocks .upper_block_btn {
  font-size: 14px;
  font-weight: 400;
  color: #413E52;
}

.studies_card {
  margin-top: 35px;
  display: flex;
  gap: 50px;
}

.card_block {
  width: 700px;
  height: 500px;
  background: white;
}

.card_block img{
  width: 100%;
  height: 360px;
}

.card_block p {
  padding: 30px;
  color: #868297;
  font-size: 13px;
  font-weight: 400;
}

.card_block h3 {
  padding: 0 30px;
  font-size: 29px;
  font-weight: 400;
  color: #413E52;
}

.card_info {
  width: 490px;
  height: 340px;
  margin-top:32px ;
}

.card_info_block {
  margin-bottom: 35px;
}

.card_info_block h3 {
  font-size: 13px;
  font-weight: 400;
  color: #868297;
}

.card_info_block p {
  font-size: 23px;
  font-weight: 400;
  color: #413E52;
  margin-top: 10px;
}

.right_drop_studies {
  position: absolute;
  top: 200px;
  left: 220px;
  z-index: -1;
  height: auto;
}